/* START HADER SECTION */
header nav ul li a {
    color: #7F7F7F;
    font-weight: bold;
}

header nav ul li:hover a {
    color: #5a5959;
}

/* END HADER SECTION */

/* START SLIDER SECTION */
button.buy-now-button {
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

button.buy-now-button:hover {
    background-color: rgb(0, 0, 0);
}

.carousel-indicators li {
    height: 5px;
    background-image: linear-gradient(to bottom, #FFB627 0%, #FFD019 100%);
}

.carousel-indicators li:nth-child(2) {
    background-image: linear-gradient(to bottom, #3C93F9 0%, #07F7C3 100%);
}

/* END SLIDER SECTION */

/* START PRODUCTS SECTION */
section#products,
footer#footer {
    margin-top: 100px;
}

.product-title {
    margin-bottom: 40px;
}

.product {
    margin-bottom: 100px;
}

.card {
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 20px lightgray;
}

.card-footer {
    border: none;
    background-color: #fff;
}

/* END PRODUCTS SECTION */

/* START CATGORIES SECTION */
#catagories {
    margin-top: 120px;
}

.catagories-title {
    margin-bottom: 80px;
}

hr {
    border: none;
    border-bottom: 5px solid orange;
    width: 120px;
    border-radius: 30px;
    margin-top: 0;
}

img {
    width: 100%;
}

.img {
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 10px;
    border: 1px solid lightcyan;
    width: 150px;
    padding: 10px;
}

.img:hover a {
    text-decoration: none;
}

/* END CATAGORIES SECTION */

/* START CONTUCT US SECTION */
#contuct-us {
    background-color: #fceae8;
    border-radius: 10px;
    height: 300px;
    margin-top: 100px;
}

/* END CONTUCT US SECTION */